body
{
    margin: 0;
    background-color: whitesmoke;
}
.gradient
{
    background-image: linear-gradient(to right,#7e47ad,#5165c4);
    height: 50px;

}
.top-left
{
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    
}
.ver-line
{
    font-size: 25px;
    color: rgb(31, 31, 255);
}
#mail
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#phone
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.top-right
{
    float: right;

}
ol
{
    margin-right: 50px;
    
}
.li1
{
    display: inline;
    font-size: 15px;
    
}
.li1 a
{
    padding: 2px 2px;
    color:white;
}
.li1 a:hover
{
    color: rgb(201, 200, 200);
    transition-duration: 0.3s;
}
.navbar
{
    background-color: white;
    height: 90px;
    width: 100%;
}
.navbar-left
{
    float:left;
    margin-left: 50px;
    margin-top: 20px;
}
.navbar-right
{
    float: right;
    margin-right: 100px ;
}
ul
{
    margin-top: 35px;
}
li
{
    display: inline;
    font-size: 18px;
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    padding: 5px;
    
}
li a
{
    text-decoration: none;
    color: #5165c4 ;
    padding: 15px 15px;
}
.search
{
    margin-left: 20px;
    margin-right: 10px;
}
li a:hover
{
    color: #3654ea;
}
.active
{
    color: #3654ea;
}
.hero-image
{
    background-image: linear-gradient(to right,#7e47ad,#5165c4);
    height: 585px;
    position: absolute;
    width: 100%;
    
}
.left-txt
{
    color: white;
    margin-left: 2%;
    margin-top: 10%;
    
}
.right
{
    float: right;
    margin-top: -260px;
    
}
.service-txt
{
    margin-top: 48%;
    text-align: center;
    cursor: pointer;
}
.service-txt:hover
{
    text-decoration: underline;
    color: #5165c4;
    transition-duration: 2s;
}

#boost-bsness
{
    font-size: 40px;
    font-family:sans-serif;
    margin-top: -25px;
}
.mover
{
    background-color: #7e47ad;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin-left: 660px;
    position:absolute;
    margin-top: -2px
}
.box-container
{
    background-color: white;
    height: 380px;
    width: 350px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
    /* cursor: pointer; */
}
/* .box-container:hover
{
    background-color: #2245f5;
    transition-duration: 1s;
    color: white;
} */
.web-txt
{
    margin-top: 50px;
    text-align: center;
}
.web-development
{
    text-decoration: none;
    color: rgb(48, 48, 48);
}
.web-development:hover
{
    color: #2245f5;
    transition-duration: 0.3s;
}
.readme1
{
    height: 30px;
    background-color: white;
    border: none;
    margin-top: 20px;
}
.readme1 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.readme1 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
}

.box-Wordpress
{
    background-color: white;
    height: 380px;
    width: 350px;
    margin-left: 500px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
}
.Wordpress-txt
{
    margin-top: 50px;
    text-align: center;
}
.Wordpress
{
    text-decoration: none;
    color: rgb(48, 48, 48);
}
.Wordpress:hover
{
    color: #2245f5;
    transition-duration: 0.3s;
}
.readme2
{
    height: 30px;
    background-color: white;
    border: none;
    margin-top: 20px;
}
.readme2 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.readme2 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
}

.box-SEO
{
    background-color: white;
    height: 380px;
    width: 350px;
    margin-left: 880px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
}
.SEO-txt
{
    margin-top: 50px;
    text-align: center;
}
.SEO
{
    text-decoration: none;
    color: rgb(48, 48, 48);
}
.SEO:hover
{
    color: #2245f5;
    transition-duration: 0.3s;
}
.readme3
{
    height: 30px;
    background-color: white;
    border: none;
    margin-top: 20px;
}
.readme3 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.readme3 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
}

.box-digital-markting
{
    background-color: white;
    height: 380px;
    width: 350px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 450px;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
}
.digital-markting-txt
{
    margin-top: 50px;
    text-align: center;
}
.digital-markting
{
    text-decoration: none;
    color: rgb(48, 48, 48);
}
.digital-markting:hover
{
    color: #2245f5;
    transition-duration: 0.3s;
}
.readme4
{
    height: 30px;
    background-color: white;
    border: none;
    margin-top: 20px;
}
.readme4 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.readme4 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
}

.box-content-writing
{
    background-color: white;
    height: 380px;
    width: 350px;
    margin-left: 500px;
    border-radius: 10px;
    margin-top: 450px;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
}
.content-writing-txt
{
    margin-top: 50px;
    text-align: center;
}
.content-writing
{
    text-decoration: none;
    color: rgb(48, 48, 48);
}
.content-writing:hover
{
    color: #2245f5;
    transition-duration: 0.3s;
}
.readme5
{
    height: 30px;
    background-color: white;
    border: none;
    
}
.readme5 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.readme5 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
}

.box-graphic-designing
{
    background-color: white;
    height: 380px;
    width: 350px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
}
.graphic-designing-txt
{
    margin-top: 50px;
    text-align: center;
}
.graphic-designing
{
    text-decoration: none;
    color: rgb(48, 48, 48);
}
.graphic-designing:hover
{
    color: #2245f5;
    transition-duration: 0.3s;
}
.readme6
{
    height: 30px;
    background-color: white;
    border: none;
  
}
.readme6 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.readme6 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
}

.box-social-media
{
    background-color: white;
    height: 400px;
    width: 350px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 850px;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
}
.social-media-txt
{
    margin-top: 50px;
    text-align: center;
}
.social-media
{
    text-decoration: none;
    color: rgb(48, 48, 48);
}
.social-media:hover
{
    color: #2245f5;
    transition-duration: 0.3s;
}
.readme7
{
    height: 30px;
    background-color: white;
    border: none;
   
}
.readme7 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.readme7 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
}

.bg-color
{
    background-color:#f1f6fc;
    height: 1500px;
    width: 100%;
    margin-top: 100%;
    position: absolute;
}
.img-why-choose
{
    margin-left: 120px;
   margin-top: 120px;
   float: left;
}
.sq-mover
{
    position: absolute;
    background-color:#7e47ad;
    height: 4px;
    width: 15px;
    margin-left: 700px;
    margin-top: 70px;
    border-radius: 2px;
}
.right-side
{
    float: right;
    margin-left: 700px;
    margin-right: 100px;
    margin-top: -41%;
    font-size: 25px;
    line-height: 38px;
    font-family: Arial, sans-serif;
}
.bg-white
{
    background-color: white;
    height: 185px;
    width: 100%;
    margin-top: 155%;
    position: absolute; 
    box-shadow: 0 0 0 5px transparent;
}
.blog-txt
{
    text-align: center;
    margin-top: 20px;
}
#read-blog
{
    font-family: sans-serif,;
    font-weight: bold;
    margin-top: -20px;
    font-size: 40px;
}
.blog-mover
{
    background-color: #7e47ad;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin-left: 630px;
    position:absolute;
    margin-top: -2px
}
.blog-keyword-search
{
    background-color: white;
    height: 500px;
    width: 350px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 170%;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
    cursor: pointer;
}

.keyword-search-img
{
    margin-top:20px;
    margin-left: 15px;
   
}
.keyword-search-content {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 10px;
  
}

.learn-more
{
    height: 30px;
    background-color: white;
    border: none
}
.learn-more a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.learn-more a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
} 

.blog-digital-markting
{
    background-color: white;
    height: 280px;
    width: 350px;
    margin-left: 520px;
    border-radius: 10px;
    margin-top: 170%;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
    cursor: pointer;
}
.blog-digital-markting:hover
{
   height: 500px;
    transition-duration: 1s;
}
.bolg-img
{
    margin-top:20px;
    margin-left: 25px;
   
}
.blog-content {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 10px;
    opacity: 0;
    transform: translateY(-250px);
}
.blog-digital-markting:hover .blog-content
{
    transform: translateY(0px);
    opacity: 1;
    transition-duration: 1s;
}
.learn-more2
{
    height: 30px;
    background-color: white;
    border: none
}
.learn-more2 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.learn-more2 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
} 
.blog-SEO
{
    background-color: white;
    height: 280px;
    width: 350px;
    margin-left: 920px;
    border-radius: 10px;
    margin-top: 170%;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
    cursor: pointer;
}
.blog-SEO:hover
{
   height: 500px;
    transition-duration: 1s;
}
.SEO-bolg-img
{
    margin-top:20px;
    margin-left: 25px;
   
}
.SEO-content {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 10px;
    opacity: 0;
    transform: translateY(-250px);
}
.blog-SEO:hover .SEO-content
{
    transform: translateY(0px);
    opacity: 1;
    transition-duration: 1s;
}
.learn-more3
{
    height: 30px;
    background-color: white;
    border: none
}
.learn-more3 a
{
    text-decoration: none;
    color: #3654ea;
    font-size: 18px;
}
.learn-more3 a:hover
{
    color: rgb(48, 48, 48);
    transition-duration: 0.3s;
} 
.team-bg-white
{
    background-color: white;
    height: 185px;
    width: 100%;
    margin-top: 212%;
    position: absolute; 
    box-shadow: 0 0 0 5px transparent;
}
.team-txt
{
    text-align: center;
    margin-top: 20px;
}
.box-team
{
    background-color: white;
    height: 580px;
    width: 450px;
    margin-left: 400px;
    border-radius: 10px;
    margin-top: 230%;
    box-shadow: 0 0 0 5px transparent;
    position: absolute;
    cursor: pointer;
    text-align: center;
}
.box-team.box-team:hover
{
    height: 610px;
    transition: 1s;
}
.image1
{
    margin-left: 0px;
    border-radius: 10px;
}
.name{
    color: rgb(82, 76, 76);

}
.wt-app a
{
  text-decoration: none; 
   color:rgb(82, 76, 76);
   font-size: 20px;
   opacity: 0;
   
}
.wt-app a:hover
{
    color: #415ff3;
    transition: 0.3s;
}
.box-team.box-team:hover .wt-app a
{
    opacity: 1;
    transition: 1s;
}
.footer-bg-color
{
    background-color:#e2eaf3;;
    height: 600px;
    width: 100%;
    margin-top: 280%;
    position: absolute;
}
.fotter-logo
{
    margin-top: 75px;
    margin-left: 50px;
    cursor: pointer;
    
}
.fotter-txt
{
    margin-top: 20px;
    margin-right: 80%;
    line-height: 28px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(95, 91, 91);
    margin-left: 50px;
}
.facebook
{
    height: 25px;
    width: 25px;
    background-color: rgb(175, 175, 175);
    border-radius: 50%;
    margin-left: 50px;
}
.facebook a
{
    padding-left: 20px;
    padding: 10px 7px;
}
.facebook:hover
{
    background-color: #ffffff;
    transition-duration: 0.3s;
    font-size: 15px;
    
}

.instagram
{
    height: 25px;
    width: 25px;
    background-color: rgb(175, 175, 175);
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 80px;
}
.instagram a
{
    padding: 10px 6px;
    
}
.instagram:hover
{
   background-color: white;
   transition-duration: 0.3s ;
   font-size: 15px;
}
.linkdin
{
    height: 25px;
    width: 25px;
    background-color: rgb(175, 175, 175);
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 110px;
}
.linkdin a
{
    padding: 10px 6px;
    
}
.linkdin:hover
{
   background-color: white;
   transition-duration: 0.3s ;
   font-size: 15px;
}
.useful-links
{
    float: right;
    margin-top: -28.5%;
    margin-right: 62%;
}
.useful-links a
{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    padding: 5px 5px;
    color: rgb(95, 91, 91);
}
.useful-links a:hover
{
    color: #6278e9;
    transition-duration: 0.3s;
    font-size: 15px;
}
.foter-service
{
    float: right;
    margin-top: -28.5%;
    margin-right: 35%;
}
.foter-service a
{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    padding: 5px 5px;
    color: rgb(95, 91, 91);
}
.foter-service a:hover
{
    color: #6278e9;
    transition-duration: 0.3s;
    font-size: 15px;
}
.contact-info
{
    float: right;
    margin-top: -28.5%;
    margin-right: 5%;
}
.contact a
{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    color:rgb(95, 91, 91);
}
.contact a:hover
{
    color: #6278e9;
    transition: 0.3s;
    font-size: 15px;
}
.email:hover
{
    font-size: 25px;
}


.bottom-fotter
{
    background-color: white;
    height: 60px;
    width: 100%;
    margin-top: 6.5%;
    box-shadow: 0 0 0 10px transparent;
    
}
.left-ft
{
    float: left;
    margin-left: 50px;
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 15px;
    color: rgb(95, 91, 91);
}
.ft-clickysol
{
    text-decoration: none;
    color: rgb(95, 91, 91);
    padding-left: 5px;
}
.ft-clickysol:hover
{
    color: #6278e9;
    transition-duration:0.5s ;
    font-size: 14px;
}
.right-ft
{
    float: right;
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: 400;
    margin-right: 30px;
}
.right-ft a
{
    text-decoration: none;
    padding: 25px;
    color: rgb(95, 91, 91);
  
}
.right-ft a:hover
{
   
    color:#6278e9;
    transition-duration: 0.3s;
    font-size: 15px;
  
}
.var-line1
{
    color: #7e47ad;
}
.var-line2
{
    color: #7e47ad;
}